<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
  <div class="container">
    <a class="navbar-brand text-primary fw-bold" routerLink="/productos">Tienda Web 2026</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="estaAutenticado">
        
        <!-- Enlaces para Clientes y Admin -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos" routerLinkActive="active">Catálogo</a>
        </li>
        <li class="nav-item" *ngIf="!esAdmin">
          <a class="nav-link" routerLink="/carrito" routerLinkActive="active">Mi Carrito</a>
        </li>

        <!-- Enlaces Solo Administrador -->
        <li class="nav-item dropdown" *ngIf="esAdmin">
          <a class="nav-link dropdown-toggle" href="#" (click)="toggleAdminMenu($event)" role="button">
            Panel de Administrador
          </a>
          <ul class="dropdown-menu" [class.show]="menuAdminAbierto">
            <li><a class="dropdown-item" routerLink="/admin/productos" (click)="menuAdminAbierto = false">Gestión de Productos</a></li>
            <li><a class="dropdown-item" routerLink="/admin/pedidos" (click)="menuAdminAbierto = false">Gestión de Pedidos</a></li>
          </ul>
        </li>

      </ul>
      <div class="d-flex" *ngIf="estaAutenticado">
        <button class="btn btn-outline-danger" (click)="logout()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</nav>
